/WORK_SYNTHESIS/alib-52
/WORK_SYNTHESIS/rtl
/WORK_SYNTHESIS/saved
/WORK_SYNTHESIS/tech
/WORK_SYNTHESIS/attributes.txt
/WORK_SYNTHESIS/command.log
/WORK_SYNTHESIS/default.svf
/WORK_SYNTHESIS/pt_shell_command.log
